
/* Media query to enable the hamburger */
@media screen and (max-width: 768px) {

  img{
    max-width: 100%;
  }
  .frame1 h1 {
    font-size: 34px;
  }

  .frame2,
  .frame5 {
    display: none;
  }


  .hamburger {
    display: block;
  }

  .frame2-opt{
    padding: 0px 64px;
  }

  .dropdown-menu .frame2 .frame2-opt:hover{
    background: #F0FDF9;
  }

  .menu-toggle:checked ~ .dropdown-menu {
    display: flex;
  }

  .menu-toggle:checked ~ .hamburger img.hamburger-open {
    display: none;
  }

  .menu-toggle:checked ~ .hamburger img.hamburger-close {
    display: block;
  }
}

/* Media query for iPad Mini (landscape and portrait) */
@media screen and (max-width: 768px) {

  nav{
    padding: 16px;
  }
  .frame1 h1{
    font-size: 20px;
  }

  .hamburger img{
    width: 24px;
  }
  
  article {
    flex-wrap: wrap-reverse;
    gap: 0px;
  }

  .frame6 {
    margin: auto;
    max-width: 100%;
    text-align: center;
  }

  .frame6 h1{
    margin: 12px auto;
  }

  .frame6 p{
    margin: 0px auto 10px auto;
  }

  .frame7 {
    max-width: 100%;
  }

  .frame7 button {
    margin: auto;
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .green-space {
    padding: 64px 32px;
  }

  .about2 {
    flex-direction: column;
  }

  .analytic-div {
    flex-wrap: wrap-reverse;
    padding: 64px 16px;
  }

  .analytic-left {
    width: 100%;
    text-align: left;
  }

  .analytic-left h1 {
    font-size: 36px;
  }

  .analytic-left p {
    line-height: 30px;
    font-size: 20px;
  }


  .start-div {
    padding: 32px 16px;
  }

  .features-headsub p {
    font-size: 20px;
  }

}


/* Media query for footer */
@media screen and (max-width: 768px) {
  footer {
    padding: 48px 32px;
  }

  .name {
    gap: 12px;
  }

  .name img {
    width: 48px;
  }

  .footer-top {
    flex-direction: column;
    gap: 36px;
    justify-content: space-between;
  }

  .footer-sub {
    gap: 20px;
    background: #fff;
    padding: 0px 0px 20px 0px;
    border-bottom: 1px solid #d0d5dd;
    display: flex;
    flex-direction: column;
  }

  .footer-sub:last    -child{
    border-bottom: none;
  }
  .footer-sub .down-arrow{
    display: flex;
  }

  .footer-sub .up-arrow {
    display: none;
  }

  .footer-sub img {
    margin-left: auto;
  }

  

  .toggle-checkbox {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .down-arrow {
    display: none;
  }

  .toggle-checkbox:checked + .toggle-label .up-arrow {
    display: inline;
  }

  .toggle-checkbox:checked + .toggle-label + .toggle-content p {
    display: block;
    padding: 6px 12px;
    border-radius: 8px;
  }

  .toggle-content P:hover{
    background: #F0FDF9;
    color: #107569;
  }


  .toggle-content p {
    display: none;
  }

  .card{
    max-width:200px;
  }
}

/* Media query for iPhone 13 Mini (portrait mode) */
@media screen and (max-width: 480px) {

  img {
    margin: 0px;
  }

  article {
    padding: 0px 12px;
  }

  .frame6 h1 {
    font-size: 36px;
}

  .version-controll img {
    max-width: 100%;
  }


  .green-space{
    padding:42px 12px;
  }
  
  .card {
    padding: 32px 12px;
    min-width: 90%;
  }

  .card p{
    font-size: 16px;
  }

  .right-sub{
    gap: 20px;
    flex-direction: column;
  }

  .features{
    min-width: 100%;
  }

  .features-head h1{
    font-size: 30px;
  }

  .analytic-left h1 {
    font-size: 24px;
  }

  .analytic-left p {
    font-size: 18px;
  }

  .start-sub {
    padding: 48px 16px;
  }

  footer {
    padding: 48px 16px;
  }

  .footer-sub {
    padding: 0 0 12px 0;
  }

}